<main class="bg-gray-300">
	<div class="relative">
		<img class="w-full h-auto" src="<%= image_path('ImagenIndex.png') %>" alt="Imagen principal">
		<div class="absolute inset-0 flex items-center justify-center">
			<div class="container mx-auto text-center">
				<h1 class="text-4xl font-bold text-white mb-4">Bienvenido a PAR-KEA</h1>
				<p class="text-xl text-white">Descubre nuestros servicios de calidad</p>
				<br>
				<a href="#servicios" class="mt-8 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-full animate-bounce">Ver Servicios</a>
			</div>
		</div>
	</div>
	<section id="servicios" class="container mx-auto py-12">
		<div class="container mx-auto px-4">
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
				<div class="bg-white rounded-lg shadow-md p-8">
					<h2 class="text-xl font-semibold mb-4">Quienes Somos</h2>
					<p class="text-gray-700 mb-4">Conoce sobre quienes somos</p>
					<br>
					<a href="#somos" class="bg-blue-500 text-white rounded-md px-4 py-2 mt-4 hover:bg-blue-600">Ver mas</a>
				</div>

				<div class="bg-white rounded-lg shadow-md p-8">
					<h2 class="text-xl font-semibold mb-4">Servicios</h2>
					<p class="text-gray-700 mb-4">Conoce los servicios que afrecemos</p>
					<br>
					<a href="#servicios" class="bg-blue-500 text-white rounded-md px-4 py-2 mt-4 hover:bg-blue-600">Ver mas</a>
				</div>

				<div class="bg-white rounded-lg shadow-md p-8">
					<h2 class="text-xl font-semibold mb-4">Mision y Vision</h2>
					<p class="text-gray-700 mb-4">Conoce nuestra mision y vision</p>
					<br>
					<a href="#mision" class="bg-blue-500 text-white rounded-md px-4 py-2 mt-4 hover:bg-blue-600">Ver mas</a>
				</div>
			</div>
		</div>
	</section>
	<section id="somos" class="container mx-auto bg-white py-12 gap-8 rounded-lg">
		<div class="container mx-auto px-4 flex flex-wrap">
			<div class="w-full md:w-1/2">
				<h2 class="text-2xl font-semibold mb-4">Quienes somos</h2>
				<p class="text-gray-700 mb-4">
					Nuestro emprendimiento se enfoca en brindar soluciones de estacionamiento de alta calidad y comodidad para vehículos en entornos urbanos. Nos especializamos en la creación de parqueaderos con diversas opciones para adaptarnos a las necesidades y preferencias de nuestros clientes.

					En primer lugar, ofrecemos parqueaderos cubiertos, que proporcionan protección total contra las inclemencias del tiempo. Estos espacios están techados y cerrados, brindando seguridad adicional tanto para los vehículos como para los conductores. Nuestro objetivo es garantizar que los automóviles estén resguardados de la lluvia, el sol intenso y otros elementos que puedan dañar su apariencia o su funcionamiento.

					En segundo lugar, contamos con parqueaderos destapados, ideales para aquellos conductores que buscan una opción más económica y no tienen problemas con que sus vehículos estén expuestos a los elementos naturales. Estos espacios están abiertos al aire libre, lo que permite un acceso rápido y fácil para los conductores, sin la necesidad de maniobrar dentro de estructuras cerradas.

					Además, ofrecemos la opción de parqueaderos semi cubiertos, que combinan lo mejor de ambos mundos. Estos espacios cuentan con techos parciales que brindan protección contra el sol y la lluvia, al tiempo que permiten la circulación de aire. Son una excelente opción para aquellos conductores que desean una protección parcial y un equilibrio entre el costo y la comodidad.
				</p>
				<!-- Contenido adicional -->
			</div>
			<div class="w-full md:w-1/2">
				<img class="w-full h-auto" src="<%= image_path('Logo.jpeg') %>" alt="Imagen">
			</div>
		</div>
	</section>

	<br>
	<br>
	<section id="servicios" class="container mx-auto bg-white py-12 rounded-lg">
		<div class="container mx-auto px-4 flex flex-wrap">
			<div class="w-full md:w-1/2">
				<img class="w-full h-auto rounded-full" src="<%= image_path('SERVICES.png') %>"alt="Imagen">
			</div>
			<div class="w-full md:w-1/2 flex flex-col justify-center">
				<h2 class="text-2xl font-semibold mb-4">Servicios</h2>
				<p class="text-gray-700 mb-4">
					- Alquiler de espacios de estacionamiento: Ofrecer la posibilidad de alquilar espacios de estacionamiento a largo plazo para vehículos personales o de empresas. Esto puede incluir contratos mensuales, trimestrales o anuales, brindando a los clientes un lugar seguro para estacionar sus vehículos.
					<br>
					- Estacionamiento por horas: Proporcionar la opción de estacionamiento por horas para aquellos que necesiten un lugar temporal para aparcar sus vehículos. Esto puede ser atractivo para visitantes, turistas o personas que solo necesitan estacionar por un corto período de tiempo.
					<br>
					- Estacionamiento nocturno: Ofrecer estacionamiento nocturno para aquellos que necesiten dejar sus vehículos durante la noche. Esto puede ser útil para personas que no tienen espacio de estacionamiento en su residencia o que están de visita en la zona.
					<br>
					- Seguridad y vigilancia: Garantizar la seguridad de los vehículos y de los clientes mediante la implementación de medidas de seguridad, como cámaras de vigilancia, iluminación adecuada y personal de seguridad. Esto ayuda a generar confianza entre los clientes y protege sus vehículos de posibles robos o daños.
					<br>
					- Servicios adicionales: Considerar ofrecer servicios adicionales, como lavado de autos, carga de vehículos eléctricos, servicios de mantenimiento básico (por ejemplo, revisión de niveles de aceite y presión de neumáticos), entre otros. Estos servicios adicionales pueden agregar valor y comodidad para los clientes.
					<br>
					- Reservas en línea: Implementar un sistema de reservas en línea que permita a los clientes reservar y pagar por su espacio de estacionamiento de antemano. Esto facilita la planificación y brinda una experiencia más conveniente para los usuarios.
					<br>
					- Tarifas flexibles: Ofrecer diferentes opciones de tarifas, como tarifas por hora, diarias, semanales o mensuales, para adaptarse a las necesidades individuales de los clientes. Esto permite una mayor flexibilidad y atrae a una variedad de usuarios.
				</p>
				<!-- Contenido adicional -->
			</div>
		</div>
	</section>

	<br>
	<br>
	<section id="mision" class="container mx-auto bg-white py-12 rounded-lg">
		<div class="container mx-auto px-4 flex flex-wrap">
			<div class="w-full md:w-1/2">
				<h2 class="text-3xl font-bold mb-6">Misión y Visión</h2>
				<p class="text-gray-700 mb-8">Misión: Nuestra misión es proporcionar soluciones seguras y eficientes de estacionamiento para nuestros clientes, ofreciendo espacios confiables y accesibles que satisfagan sus necesidades de movilidad. Nos esforzamos por brindar un servicio de calidad, con atención al detalle y un enfoque en la comodidad y satisfacción del cliente. Además, buscamos contribuir positivamente al desarrollo de la movilidad sostenible, fomentando la utilización de espacios de estacionamiento eficientes y promoviendo la adopción de tecnologías innovadoras en nuestra industria.</p>
				<p class="text-gray-700 mb-8">Visión: Nuestra visión es convertirnos en el proveedor líder de soluciones de estacionamiento en nuestra región, reconocidos por la calidad y confiabilidad de nuestros servicios. Buscamos expandir nuestra presencia en diferentes ubicaciones estratégicas, ofreciendo una red de parqueaderos seguros y convenientes que satisfagan las necesidades cambiantes de movilidad de las personas. Aspiramos a ser una empresa innovadora, adoptando tecnologías emergentes en el ámbito de la gestión de estacionamientos y brindando una experiencia fluida y sin complicaciones para nuestros clientes. Además, nos esforzamos por promover prácticas sostenibles en nuestra operación, minimizando nuestro impacto ambiental y contribuyendo a la creación de comunidades más sustentables.</p>
			</div>
			<div class="w-full md:w-1/2">
				<img class="w-full h-auto rounded-lg object-cover" src="https://jcmt.edu.pe/portal/wp-content/uploads/2019/11/mision-vision.png" alt="Imagen de Misión y Visión">
			</div>
		</div>
	</section>



	<br>
	<br>
</main>


